@charset "utf-8";

@keyframes rotate {
  from { background-position-x: 0px; }
   to { background-position-x: 405.3px; }
 }

@-webkit-keyframes rotate {				/* Safari and Chrome */
  from { background-position-x: 0px; }
   to { background-position-x: 405.3px; }
 }
 
.globe {
	position:relative;
 	width: 193px;
 	height: 193px;
	margin:auto;
	top:0px;
 	background: url(Globe.gif);
 	border-radius: 50%;
 	background-size: 405.3px;
 	box-shadow: inset 16px 0 40px 3px rgb(0, 0, 0),
 		inset -3px 0 6px 2px rgba(255, 255, 255, 0.2);
 	animation-name: rotate;
	-webkit-animation-name:rotate; /* Safari and Chrome */
 	animation-duration: 8s;
	-webkit-animation-duration: 8s; /* Safari and Chrome */
 	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite; /* Safari and Chrome */
 	animation-timing-function: linear;
	-webkit-animation-timing-function: linear; /* Safari and Chrome */
 }


